html {
    overflow-x: hidden;
     scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body{
    margin: 0;
        box-sizing: border-box;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: inherit; 
}

.navbar {
    position: fixed;
    display: flex;
    padding: 5px 20px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.navbar img {
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: auto;
    
}
.botoes {
    display: flex;
    gap: 45px ;
    margin-right: 25px;
    align-items: center;
    color: black;   
}

.botoes .login{
    background-color:#3961E1;
    margin-top: 2px;
    border-radius: 7px;
    color: white;
    padding: 5px 20px;
}
.botoes .login:hover {
    transform: scale(1.1);
    opacity: 0.8;
    cursor: pointer;
}
.botoes .cadastro:hover {
    transform: scale(1.1);
    opacity: 0.8;
    cursor: pointer;
}

.imagem-home {
    display: flex;
    background-size: cover;
    background-image: url('../assets/imagens/imagem1.png');
    height: 650px;
    width: 100%;
    background-position: center;
}

.imagem-home p {
    display: flex;
    align-items: center;
    text-align: left;
    width: 32%;
    margin-left: 3%;
    color: white;
    font-size: 2.6em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.tela-inicial {
    margin-bottom: 50px;
}

.caixa1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    margin-top: -50px;
    margin-bottom: 220px;

}

.box-home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 76%;
    padding: 8px 20px;
    border-radius: 10px;
    padding-bottom: 40px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.img-social1 {
    display: flex;
    justify-content: left;
}

.img-social1 img {
    padding-top: 20px;
    height: 250px;
    width: auto;
}

.text-social1 {
    display: flex;
    justify-content: right;
    padding-top: 20px;
    gap: 20px;
    font-size: 1.8em;
    text-align: justify;
}


.img-social2 {
    display: flex;
    justify-content: right;

}

.img-social2 img {
    padding-top: 20px;
    height: 250px;
    width: auto;

}


.text-social2 {
    display: flex;
    padding-top: 25px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: justify;
    align-items: end;
    gap: 20px;
    font-size: 1.8em;

}



.boxes {
    display: flex;
    flex-direction: row;
    gap: 180px;
    margin-bottom: 200px;
    justify-content: center;

}

.box1, 
.box2, 
.box3 {
    display: flex;
    padding: 12px 5px 0px 3px;
    border-radius: 36px;
    background-color: #EEEEEE;
    width: 35%;
    height: 60vh;

}

.geral-box1,
.geral-box2,
.geral-box3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

.geral-box1 img,
.geral-box2 img,
.geral-box3 img {
    height: 190px;
    width: 100%;
    align-items: end;
}


.geral-box1 .img-temp,
.geral-box2 .img-temp2,
.geral-box3 .img-temp3 {
    height: 70px;
    width: auto;
    align-self: flex-end;
}
.img-cards-1{
    background-image: url(../assets/imagens/img1\ metricas.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    border-radius: 30px;
}
.img-cards-2 {
 background-image: url(../assets/imagens/img2\ metricas.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.img-cards-3{
 background-image: url(../assets/imagens/img3\ metricas.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    border-radius: 30px;
}

.geral-box1 p,
.geral-box2 p,
.geral-box3 p {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 12px;
    font-size: 1.3em;
    margin-top: 2px;
}


.calculadora {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.back-calculadora {
    background-image: url('../assets/imagens/back azul.png');
    background-size: cover;
    height: 420px;
    width: 100%;
}

.img-calculadora {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
    width: 100%;
}

.img-calculadora img {
    display: flex;
    justify-content: center;
    height: 230px;
    width: auto;
}

.text-calculadora {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.text-calculadora p {
    font-size: 2em;
    text-align: left;
    width: 50%;
    margin-left: 20px;
}

.img-calculadora a {
    display: flex;
    width: 200px;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    background-color: #163081;
}
.img-calculadora a:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.diagrama{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.diagrama img{
    height: 600px;
}

.diagrama h1{
    color: #0031D0;
    font-weight: 600;
}
/* .diagrama1, 
.diagrama2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 120px;
    margin-bottom: 60px;
}

.dg1, 
.dg2, 
.dg3, 
.dg4, 
.dg5, 
.dg6 {
    display: flex;
    flex-direction: column;
    padding: 20px 12px;
    padding-top: 1px;
    border-radius: 7px;
    background-color: #EEEEEE;
    height: 300px;
    width: 18%;

}

.top-dg1, 
.top-dg2,
.top-dg3, 
.top-dg4, 
.top-dg5, 
.top-dg6 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;

}

.txt-dg1, 
.txt-dg2, 
.txt-dg3, 
.txt-dg4, 
.txt-dg5, 
.txt-dg6{
    font-size: 1.4em;

} 




.top-dg1 p, 
.top-dg2 p,
.top-dg3 p, 
.top-dg4 p, 
.top-dg5 p, 
.top-dg6 p {
    font-size: 2.4em;
    font-weight: bold;
    color: gray;
    width: auto;

}

.dg1 img, 
.dg2 img, 
.dg3 img,
.dg4 img, 
.dg5 img,
.dg6 img
  {  padding-top: 5px;
    height: 62px;
    width: auto;
    align-self: flex-end;
    margin-bottom: 40px;

}

.dg5 img {
    padding-top: 5px;
    height: 80px;
    width: auto;
    align-self: flex-end;
    margin-bottom: 20px;

} */



.bck-m img {
    display: flex;
    height: 200px;
    width: 100%;

}

.missao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #5C8CE6;
    padding: 25px 25px;
    height: 320px;
    width: auto;
}

.visao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #3961E1;
    padding: 25px 25px;
    height: 320px;
    width: auto;

}

.valores {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #2246BA;
    padding: 25px 25px;
    height: 310px;
    width: auto;
}
.img-missao,
.img-visao,
.img-valores {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

.img-missao img,
.img-visao img,
.img-valores img {
    height: 230px;
    width: auto;
}
.img-missao p,
.img-visao p,
.img-valores p {
    font-size: 2.2em;
    
}

.txt-missao,
.txt-visao,
.txt-valores {
    text-align: left;
    width: 50%;
}

.txt-valores{
    margin-top: 6%
}

.txt-missao p,
.txt-visao p,
.txt-valores p {
    color: white;
    font-size: 1.7em;

}

.bck-v img {
    display: flex;
    height: 320px;
    width: 100%;
    margin-bottom: 20px;
}

.equipe{
    display: flex;
    justify-content: center;
    width: auto;
    margin-bottom: 150px;
    gap: 80px;
}

.imagem_equipe img{
    height: 600px;
}

.texto_equipe {
    /* background-color: red; */
    width: 33%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
}

.texto_equipe p {
    /* background-color: blue; */
    text-align: justify;
    color: black;
    font-size: 23px;
}

.texto_equipe h1 {
    /* background-color: gray; */
    color: #0031D0;
    font-weight: 600;
    margin: 0;
}


.box-eqp1, 
.box-eqp2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 12px;
    border-radius: 7px;
    background-color: #eeeeee;
    width: 50%;
    margin-bottom: 10px;
    margin: 0 auto;
}

.ft-eqp1 , 
.ft-eqp2{
    display:flex;
    flex-direction: row;
    gap: 50px;
}

.ft-eqp1 img, 
.ft-eqp2 img {
    height: 180px;
    width: auto;
}


.back-faleConosco {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #0E195B;
    background: linear-gradient(90deg, rgba(14, 25, 91, 1) 0%, rgba(0, 49, 208, 1) 50%, rgba(0, 49, 208, 1) 82%, rgba(80, 119, 243, 1) 93%, rgba(80, 119, 243, 1) 98%);
    height: 600px;
    width: auto;
}

.conteudo-fale {
    display: flex;
    justify-content: space-evenly; 
    align-items: flex-start; 
    width: 100%; 
    margin-top: 80px;
}

.txt-fale {
    text-align: left;
    color: white;
    width: 50%;
}

.txt-fale p {
    font-weight: 500;
    font-size: 2.5em;
}

.box-fale-tudo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 12px;
    border-radius: 35px;
    background-color: #FFFFFF;
    width: 20%;
    height: 100%;
    /* opacity: 0.79; */
}

.box-fale{
    /* background-color: red; */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;

}

.box-fale input {
    align-self: flex-start;
    border-radius: 9px;
    width: 100%;
    height: 35px;
    /* padding: 7px 50px; */
    border: 2px solid white ;
    background-color: rgba(128, 128, 128, 0.151);
}

.box-fale span {
    font-size: 1em;
}

.box-fale button {
    border: none;
    display: flex;
    justify-content: center;
    background-color: #3961E1;
    color: white;
    padding: 8px 39px;
    border-radius: 10px;
    align-self: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #001B48;
    height: 30%;
}

.img-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.img-footer img {
    display: flex;
    height: 180px;
    width: auto;
}

.footer1 img {
    display: flex;
    margin-left: 40px;
}

.footer1 {
    display: flex;
    justify-content: space-between;
}

.title-footer1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(6, 134, 240);
}


.title-footer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(6, 134, 240);
}

.title-footer3 {
    margin-left: 50px;
    color: rgb(6, 134, 240);
}



/*FOOTER NOVO DAQUI PRA BAIXO*/
.img-area div img{
    width: 80%;
}
.img-area div{
        border-right: 2px solid #ffffff;
        height: 100%;
}
.container-infos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.container-text{
    width: 100%;
    border-right: 2px solid white;
    display: flex;
    margin-bottom: 5px;
    flex-direction: column;
    align-items: center;
    color: white;
} 
.container-text a{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: white;
    width: 100%;
} 
.container-icons-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-icons-text div{
    width: 70%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.container-icons-text img{
    width: 34px;
    height: 34px;
}
.container-contact-icons{
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.container-contact-icons img{
    width: 50px;
    height: 50px;
}

.container-contact-icons div{
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    width: 40%;
    gap: 30px;
    height: 60%;
}

.container-cards{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

